<div id="container">
<div id="form-container">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">  
    <div *ngIf="step === 1" class="step">
      <div class="input">
        <div>
          <label for="name">Name: </label>
          <input type="text" id="name" formControlName="name" />
        </div>
        <div>
          <label for="nid">NID: </label>
          <input type="text" id="nid" formControlName="nid" />
        </div>
        <div class="btn">
          <button
          type="submit"
          [disabled]="index!==len1-1"
          [ngClass]=" index == len1-1 ? 'enabled-btn' : 'disabled-btn' ">Next</button>
        </div>
      </div>
    </div>
    <div *ngIf="step === 2" class="step">
      <div class="input">
        <div>
          <label for="phone">Contact: </label>
          <input type="text" id="phone" formControlName="mobile" />
        </div>
        <div>
          <label style="padding-right: 28px" for="email">Email: </label>
          <input type="text" id="email" formControlName="email" />
        </div>
        <div class="btn">
          <button
          [ngClass]=" index == len2-1 ? 'enabled-btn' : 'disabled-btn' "
            type="submit"
            [disabled]="index!==len2-1" >Next
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="step === 3" class="step">
      <div class="input">
        <div>
          <label for="father">Father's Name: </label>
          <input type="text" id="father" formControlName="father_name" />
        </div>
        <div>
          <label for="mother">Mother's Name: </label>
          <input type="text" id="mother" formControlName="mother_name" />
        </div>
        <div class="btn">
          <button
            type="submit"
            [disabled]="applicationForm.invalid || index!==len3-1"
            [ngClass]="applicationForm.valid|| index==len3-1 ? 'enabled-btn' : 'disabled-btn'"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="img-container" *ngIf="step==1">
  <img [src]="img_src1[index]"> <br/>
  <div id="btn">
    <button  [ngStyle]="{'background-color': index>=i?'Green':'Red'}" *ngFor = "let img of img_src1; let i = index">{{i+1}}</button>
  </div>
</div>
<div class="img-container" *ngIf="step==2">
  <img [src]="img_src2[index]"> <br/>
  <div id="btn">
    <button [ngStyle]="{'background-color': index>=i?'Green':'Red'}" *ngFor = "let img of img_src2; let i = index">{{i+1}}</button>
  </div>
</div>
<div class="img-container" *ngIf="step==3">
  <img [src]="img_src3[index]"> <br/>
  <div id="btn">
    <button [ngStyle]="{'background-color': index>=i?'Green':'Red'}" *ngFor = "let img of img_src3; let i = index">{{i+1}}</button>
  </div>
</div>
    <!-- <input type="file" (change)="onSelectFile($event)"> -->
</div>